<div class="row" ng-controller="ManagerCtrl">
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header"><h3><b>Payment</b></h3></div>
        <form name="addInventory" role="form">
            <div class="form-group"><label>ManagerID: </label><input type="text" class="from-control" ng-model="uid" placeholder="ManagerID" name="title"></div>&nbsp;&nbsp;&nbsp;<br>
            <div class="form-group"><label>Title: </label><input type="text" class="from-control" ng-model="title" placeholder="title" name="title"></div>&nbsp;&nbsp;&nbsp;<br>
            <div class="form-group"><label>Description: </label><input type="text" class="from-control"  ng-model="descr" placeholder="Description" name="desc"></div>&nbsp;&nbsp;&nbsp;<br>
            <div class="form-group"><label>Price: </label><input type="text" class="from-control"  ng-model="price" placeholder="Price" name="price"></div>&nbsp;&nbsp;&nbsp;<br>
            <div class="form-group"><label>Discount:</label><input type="text" class="from-control" ng-model="disco"  placeholder="Discount" name="disc"></div>&nbsp;&nbsp;&nbsp;<br>
            <div class="form-group"><label>Available:</label><input type="text" class="from-control" ng-model="avail" placeholder="Available" name="disc"></div>&nbsp;&nbsp;&nbsp;<br>
            <button class="btn btn-success" type="submit" ng-click="addinv()"> Add </button>
        </form>
    </div>
</div>


