<div ng-controller="CheckoutCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header"><h3><b>Order Info</b></h3></div>
            <ul ng-repeat="i in items">
                <li>
                    <label>   Title: </label><span class="glyphicon glyphicon-hand-right"> {{i.Title}}</span>
                </li>
            </ul>
            <label>Total Price : &nbsp;&nbsp;&nbsp;&nbsp;</label><span class="glyphicon glyphicon-hand-right"></span>{{total}}<br>
            <div class="form-group">
                <label>Card Type: </label><select name="Type" class="form-control" ng-model="cards" ng-options="option as option.CardNumber for option in payment">
            </select>
                <p> Shipping Address
                    <select name="ship" class="form-control" ng-model="shipping" ng-options="option as option.Street + ' ,' + option.City + ' ,' + option.State + ' ,' + option.ZipCode for option in shippingAddresses">
                    </select>
                </p>
                <p> Billing Address
                    <select name="bill" class="form-control" ng-model="billing" ng-options="option as option.Street + ' ,' + option.City + ' ,' + option.State + ' ,' + option.ZipCode for option in billingAddresses">
                    </select>
                </p>
                <button class="btn btn-primary" type="submit" ng-click="checkout()"> Checkout </button>
            </div>
        </div>
    </div>
</div>

