<!--<div>-->
    <!--<ul>-->
        <!--<li>-->
            <!--Title: {{item.Title}}-->
            <!--Available: {{item.Available}}-->
        <!--</li>-->
        <!--<li>-->
            <!--Discription: {{item.Discription}}-->
        <!--</li>-->
        <!--<li>-->
            <!--Price: {{item.Price}}-->
        <!--</li>-->
        <!--<li>-->
            <!--Price: {{(item.Price * item.Discount).toFixed(2)}}-->
        <!--</li>-->
        <!--<li>-->
            <!--Category: {{item.Category}}-->
        <!--</li>-->
    <!--</ul>-->
    <!--<form name="addtoshoppingcard" ng-controller="ShoppingCartCtrl">-->
        <!--<input type="text" ng-model="number" placeholder="number" name="number">-->
        <!--<button class="btn btn-default" type="submit" ng-click="addToCart()"> Add to cart</button>-->
    <!--</form>-->
<!--</div>-->

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header"><h3><b>Inventory details</b></h3></div>

        <div>
            <ul>
                <li>
                    <label>Title:</label> {{item.Title}}
                    <label>Available: </label>{{item.Available}}
                </li>
                <li>
                    <label>Discription: </label>{{item.Discription}}
                </li>
                <li>
                    <label>Price:</label> {{item.Price}}
                </li>
                <li>
                    <label> Price: </label>{{(item.Price * item.Discount).toFixed(2)}}
                </li>
                <li>
                    <label>Category:</label> {{item.Category}}
                </li>
            </ul>
            <form name="addtoshoppingcard" ng-controller="ShoppingCartCtrl">
                <input type="text" ng-model="number" placeholder="number" name="number">
                <button class="btn btn-primary" type="submit" ng-click="addToCart()"> Add to cart</button>
            </form>
        </div>
    </div>
</div>