<div ng-controller="BannerCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header"><h3><b>Log into your account</b></h3>
            </div>


            <form name="login" role="form">
                <label>Username: </label><input type="text" class="form-control" ng-model="userName" placeholder="username" name="number">
                <label>Password: </label><input type="text" class="form-control" ng-model="passWord" placeholder="password" name="address"><br>
                <center><button class="btn btn-success" type="submit" ng-click="logIn()"> Login </button></center>
            </form>
        </div>
    </div>
</div>



