<div ui-view></div>
<div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">

                <h3><b>Your Shopping Cart</b></h3></div>

                <h4 ng-hide="cancheckout"> {{message}}</h4>

            <div ng-repeat="a in json.Item">
                    <li>
                        <label>Title: </label>{{a.Title}}
                    </li>
                    <li>
                        <label>Description: </label>{{a.Description}}
                    </li>
                    <li>
                        <label>Price: </label>{{(a.Price * a.Discount).toFixed(2)}}
                    </li>
                    <li>
                        <label> Quantity: </label>{{a.Quantity}} &nbsp;&nbsp; &nbsp;&nbsp;<a class="btn btn-danger"  ng-controller="ShoppingCartCtrl" ng-click="deleteCart(i.InventoryId)">Delete This Item</a>
                    </li>

            </div>
            <a class="btn btn-primary" type="submit" ui-sref="checkout({item: data.Item, total: total, shopcartid: data.ShoppingCartId})" ng-hide="!cancheckout">Check Out</a>
        </div>
</div>