<li ng-repeat="i in data.item" ng-controller="ShoppingCartCtrl">
    <ul>
        <li>
            Title: {{i.Title}}
        </li>
        <li>
            Description: {{i.Description}}
        </li>
        <li>
            Price: {{i.Price * i.Discount}}
        </li>
        <li>
            Quantity: {{i.Quantity}}
        </li>
        <a class="btn btn-default" ng-click="deleteCart(i.InventoryId)">Delete This Item</a>
    </ul>
</li>
<li>
    Total Price: {{total}}
</li>
<a class="btn btn-primary" type="submit" ui-sref="checkout({item: data.item, total: total})">Check Out</a>