<li>
    {{message}}
</li>
<li ng-repeat="i in data.Item" ng-controller="ShoppingCartCtrl">
    <ul>
        <li>
            Title: {{i.Title}}
        </li>
        <li>
            Description: {{i.Description}}
        </li>
        <li>
            Price: {{(i.Price * i.Discount).toFiexed(2)}}
        </li>
        <li>
            Quantity: {{i.Quantity}}
        </li>
        <a class="btn btn-default" ng-click="deleteCart(i.InventoryId)">Delete This Item</a>
    </ul>
</li>
<a class="btn btn-primary" type="submit" ui-sref="checkout({item: data.Item, total: total, shopcartid: data.ShoppingCartId})" ng-hide="!cancheckout">Check Out</a>